.input-style-1 {
  margin: 0.25rem 0 1rem 5px;
  padding: 0.25rem;
  width: 200px;
}

.btn-1 {
  color: white;
  background-color: #0288d1;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 12px auto;
  margin-right: 10px;
}

.radioGroup {
  display: block;
  text-align: left;
}

.card {
  perspective: 1000px;
  border: 1px solid #f5f5f5;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 1px solid teal;
  box-shadow: 5px 5px 8px rgba(128, 128, 128, 0.8);
}

.poke-island-theme {
  background-image: url('./assets/poke-island.jpg');
}

.pokemon-card-theme {
  background-image: url('./assets/Pokemon-card-cover.jpg');
}

.Ash-and-Pika-theme {
  background-image: url('./assets/Ash-and-Pika.jpg');
}

.card-front {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #ffffdc;
}

.no-margin {
  margin: 0;
}

.card-image {
  width: 70%;
  height: 70%;
}

.star {
  font-size: 65px;
}

.filled {
  color: goldenrod;
}

.gear-btn {
  background-color: transparent;
  border: none;
}

.gear-icon {
  font-size: 20px;
}

.setting-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting {
  position: absolute;
  top: 20px;
  right: 5px;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.link-style {
  color: black;
  text-decoration: none;
}

.username,
.level {
  color: #17a2b8;
  font-size: 16px;
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.color-blue {
  color: #17a2b8;
}

.bold {
  font-weight: bold;
}

.footer {
  background-color: #17a2b8;
}

.footer-content {
  color: white;
  padding: 10px 0 0;
  margin: 0;
}

.heart {
  color: red;
  vertical-align: middle;
}

.bg-lightgray {
  background-color: #f5f5f5;
}

.margin-top-0 {
  margin-top: 0;
  padding-top: 10px;
}

.table-style {
  border: 1px solid #17a2b8;
  background-color: #f5f5ff;
  padding: 10px;
  border-radius: 10px;
}
